
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset for Full Height Apps */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling on the body */
}

/* Estilos personalizados para mapas 3D */
.perspective-map {
  transform: perspective(1000px) rotateX(20deg);
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.flat-map {
  transform: perspective(0) rotateX(0);
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.transform-style-flat {
  transform-style: flat;
}
